<%- include('partes/header'); %>

<form action="/crear" method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" name="name" tabindex="1" autofocus>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" tabindex="2">
    </div>
    <div class="mb-3">
        <select name="rol" id="rol" class="form-select" tabindex="3">
            <option value="admin">Administrador</option>
            <option value="suscrip">Suscriptor</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary" tabindex="4">Crear</button>
    <a href="/" class="btn btn-secondary" tabindex="5">Cancelar</a>
</form>

<%- include('partes/footer'); %>