<%- include('templates/header'); %>
<%- include('templates/navbar'); %>
<%- include('templates/aside'); %>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-md-12">
                    <h1>CDRUD User con EJS</h1>
                    <div class="container">
                        <hr>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio rem, officiis dolorem
                            exercitationem magnam quos quam soluta minus a eius molestiae at consequatur reprehenderit
                            error aspernatur labore fugit illo commodi inventore voluptatum tenetur voluptatibus. Itaque
                            beatae odio, adipisci tempore voluptates iusto consectetur animi iure dolorem! Consectetur
                            quia, cumque dolore fuga nemo nisi illo asperiores unde aspernatur assumenda, optio facilis.
                            Vitae voluptas quae, ratione aut nostrum nisi voluptate enim consequuntur qui ipsum dicta
                            neque a expedita illum quo! Nam temporibus quibusdam sequi culpa laudantium provident animi?
                            Perferendis ratione perspiciatis quos, magni pariatur iure in voluptatibus atque nisi
                            deserunt illum tempora sint temporibus officiis laborum id, expedita illo architecto quidem
                            fuga nesciunt dolore provident beatae doloremque. Rerum, ad. Qui modi ipsa nam et placeat
                            minima commodi deserunt eius explicabo dicta beatae ea unde aliquid fugit corporis,
                            excepturi voluptates reiciendis repudiandae iusto! Consequuntur, iusto. Culpa, minus quidem.
                            Minus fugit illo repellat vel id!</p>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


</div>
<!-- /.content-wrapper -->

<%- include('templates/footer'); %>